Source: x11-xkb-utils
Section: x11
Priority: optional
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Build-Depends:
 debhelper-compat (= 13),
 pkgconf,
 libx11-dev,
 libxaw7-dev,
 libxkbfile-dev,
 libxrandr-dev,
 bison,
 quilt,
 xutils-dev,
 x11proto-dev,
# Reasons for build-depends:
# debhelper for the packaging, pkg-config needed by configure scripts
# Individual apps:
# setxkbmap: libx11-dev, libxkbfile-dev
# xkbcomp: libx11-dev, libxkbfile-dev
# xkbevd: libx11-dev, libxkbfile-dev, (bison)
# xkbprint: libx11-dev, libxkbfile-dev
# xkbutils: libx11-dev, libxaw7-dev, x11proto-core-dev
Standards-Version: 4.6.1
Vcs-Git: https://salsa.debian.org/xorg-team/app/x11-xkb-utils.git
Vcs-Browser: https://salsa.debian.org/xorg-team/app/x11-xkb-utils

Package: x11-xkb-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: foreign
Description: X11 XKB utilities
 xkbutils contains a number of client-side utilities for XKB, the X11
 keyboard extension.
 .
 setxkbmap is a tool to query and change the current XKB map.
 .
 xkbbell generates a bell event through the keyboard.
 .
 xkbcomp is a tool to compile XKB definitions into map files the server
 can use.
 .
 xkbevd is an experimental tool to listen for certain XKB events and execute
 defined triggers when actions occur.
 .
 xkbprint is a tool to generate an image with the physical representation
 of the keyboard as XKB sees it.
 .
 xkbvleds shows the changing status of keyboard LEDs.
 .
 xkbwatch shows the changing status of modifiers and LEDs.

Package: x11-xkb-utils-udeb
Package-Type: udeb
Section: debian-installer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: X11 XKB utilities
 This is a udeb, or a microdeb, for the debian-installer.
